:root {
  --text-color: #C2C2C2;
  --text-color-brighter: #ededed;
  --background-color: #191919;
  --text-hover-color: #FFFFFF;
  --read-more-color: #41E143;
  --tag-color: #41A9E1;
  --border-color: #a4a4a4;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Sunflower', sans-serif;
}

a, ul {
  text-decoration: none;
  color: black;
  list-style: none;
}

body {
  padding-top: 80px;
}

/* Navbar section */

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--background-color);
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  transition: top 0.2s ease-in-out;
  z-index: 100;
}

.navbar-logo {
  padding: 20px;
}

.navbar-logo h1 {
  font-size: 30px;
}
.navbar-logo h1 a {
  color: white;
}

.navbar-logo h1 span {
  font-weight: normal;
  font-size: 24px;
}

.navbar-flex-right {
  display: flex;
  align-items: center;
}

.navbar-menu {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.navbar-closeBtn {
  display: none;
}

.navbar-menu li {
  padding: 27px 24px;
}

.navbar-menu li a {
  color: var(--text-color);
  font-size: 20px;
  font-weight: bold;
  transition: all .5s;
}

.navbar-menu li a:hover {
  color: var(--text-hover-color);
}

.navbar-underbar {
  margin-top: 25px;
  transition: all .4s ease-in-out;
}

.navbar-menu li a:hover .navbar-underbar {
  height: 3px;
  background-color: var(--text-hover-color);
}

.navbar-toggleBtn {
  display: none;
  padding: 24px;
}

.navbar-toggleBtn div {
  width: 25px;
  height: 3px;
  background-color: var(--text-hover-color);
  margin: 5px;
}

/* Responsiv navbar */
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .navbar-menu {
    position: absolute;
    right: 0px;
    height: 92vh;
    background-color: var(--background-color);
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);

  }

  .navbar-closeBtn {
    padding-top: 20px;
    justify-content: flex-end;
    font-size: 24px;
    background-color: var(--text-color);
  }

  .navbar-toggleBtn {
    display: block;
  }

  .navbar-underbar {
    display: none;
  }

  .navbar-menu li {
      border-bottom: var(--border-color) solid 1px;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
  }

  .navbar-menu li:last-child {
    border: none;
  }

  .navbar-menu li a {
    font-size: 18px;

    transition: all .5s ease;
    color: #DEDEDE;
  }

  .navbar-menu li a:hover {
    color: #FFFFFF;
  }
}

.nav-active {
  transform: translateX(0%);
  transition: transform .3s ease-in;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.navbar-up {
  top: -80px;
}

/* Main section */
.content {
  padding-top: 20px;
  padding-bottom: 20px;
}

.content-div {
  display: flex;
  flex-direction: row;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 1200px;
  margin: auto;
}

.content-main {
	min-width: 85%;
  padding-right: 15px;
}

.post {
  margin-top: 50px;
  margin-bottom: 30px;
  border-bottom: var(--border-color) solid 1px;
}

.entry-title {
  font-size: 30px;
  margin-bottom: 15px;
}

.post-category {
  font-size: 20px;
  color: var(--tag-color);
}

.entry-header-flexbox {
  display: flex;
  flex-direction: row;
}

.entry-infobox {
  display: flex;
  flex-direction: column;
}

.entry-infobox h5 {
  line-height: 1.6;
}

.byline {
  font-size: 16px;
  color: var(--border-color);
}

.author-describ {
  color: var(--border-color);
  padding-bottom: 15px;
}

.thumbnail {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
}

.thumbnail img {
  width: 100%;
  height: auto;
}

.entry-content {
  padding: 15px 0;
}

.entry-meta {
  padding-top: 5px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.tag-links a {
  color: var(--tag-color);
}

.tag-links a:before {
  content: "#"
}

.more-link {
  color: var(--read-more-color);
}

/* Page num */
.page-num {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-bottom: 26px;
}

.page-num-list {
  display: flex;
  flex-direction: row;
}

.page-num-list li {
  text-align: center;
  margin: 10px;
  width: 30px;
  height: 30px;
}

.page-num-list li {
  font-size: 25px;
  font-weight: bold;
  border: var(--background-color) solid 2px;
  border-radius: 50px;
  transition: all .5s ease;
}

.page-num-list li:hover {
  background-color: var(--background-color);
}

.page-num-list li:hover a {
  color: var(--text-color-brighter);
}

/* Side */
.content-side {
  width: 40%;
  padding: 50px 10px 0 15px;
  margin-bottom: 30px;
  border-left: var(--border-color) solid 1px;
}

.blog-category {
  display: flex;
  width: 100%;
}

.category-list {
  width: 100%;
}

.category-list li {
  border-bottom: var(--border-color) solid 1px;
  padding: 20px 0 20px 0;
  text-align: center;
}

.category-list li:last-child {
  border: none;
}

.category-list a:hover {
  background-color: var(--background-color);
  color: var(--text-color-brighter);
}

.category-list li a {
  border-radius: 12px;
  font-size: 20px;
  padding: 10px;
  transition: all .5s;
}

@media screen and (max-width: 1280px) {
  .content-div {
    flex-direction: column;
  }

  .content-main {
    padding-right: 0;
  }

  .content-side {
    width: 100%;
    padding-left: 0;
    margin-bottom: 30px;
    border: none;
    align-items: center;
  }
}

/* footer */
.page-footer {
  background-color: var(--background-color);
  color: var(--text-color);
}

.footer-div {
  padding: 50px 0 30px 0;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-sns {
  margin-bottom: 20px;
}

.footer-sns-ul {
  display: flex;
  flex-direction: row;
}

.footer-sns-ul li {
  font-size: 26px;
  margin: 15px;
}

.footer-sns-ul a {
  color: var(--text-color);
  transition: all .5s;
}

.footer-sns-ul li:hover a {
  color: #454545;
}

.etc-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 12px;
}

.etc-text span {
  color: var(--text-color);
}








/* ------------ post.html ---------------------*/
.entry-main {
  padding-top: 20px;
}

/* ------------- newPost.html -----------------*/
.post-form-div {
  width: 100%;
  margin: 50px 0 30px 0;
}

.post-hash-category {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-hash-tag {
  margin: 5px 0 5px 0;
  height: 30px;
}

.form-hash-tag::placeholder {
  padding-left: 10px;
}

.post-hash-category:focus {
  border: solid 3px;
}

.form-category {
  height: 40px;
  padding-left: 10px;
}

.form-title {
  padding: 0;
  width: 100%;
  height: 30px;
  border: var(--text-color) solid 1px;
  max-width: 1200px;
  margin-bottom: 10px;
}

.form-title::placeholder {
  padding-left: 10px;
}

.form-content {
  width: 100%;
  margin-bottom: 20px;
}

/* ---------------------------------------------*/


/* 기타 */
.action-btn {
	margin-top: 5px;
    width: 50px;
    height: 25px;
    border-radius: 10px;
    border: 1px solid #0075cf;
    background-color: #0390fc;
    color: var(--text-color-brighter);
}

.no-content-div {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 1000px;
}

.no-content {
  text-align: center;
  line-height: 1000px;
}

@media screen and (min-width: 1280px) {
  .no-content-div {
    width: 1000px;
  }
}

/* Landing Page */
.main-div-landing {
	width: 100%;
	height: 100vh;
	background: #000;
}

.main-div-landing::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(../img/bg.jpg) no-repeat;
	background-size:cover;
	opacity: .3;
}

.landing-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	width: 100%;
	max-width: 800px;
	text-align: center;
	padding: 0 40px;
	box-sizing: border-box;
}

.landing-content h1 {
	color: var(--read-more-color);
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 900;
	margin-bottom: 20px;
}

.landing-content p {
	color: #fff;
	margin-bottom: 20px;
}

.landing-content a {
	display: inline-block;
	text-decoration: none;
	color: #ff7979;
}
